<!DOCTYPE html>

<html lang="en">
    <head>
        <meta charst="UTF-8">
        <h1>RECOMMEND ME STUFF</h1>
        <title>RECOMMEND ME STUFF</title>
    </head>
    <body>
        <form method="GET" action="#">
            Mangadex Username:
            <input type="text" name="Username" id="Username"></input>
            <br \>
            <br \>
            Mangadex Password:
            <input type="text" name="Password" id="Password"></input>
            <br \>
            <br \>
            Mangadex API key:
            <input type="text" name="API" id="API"></input>
            <br \>
            <br \>
            Mangadex API secret:
            <input type="text" name="secret" id="secret"></input>
            <br \>
            <br \>
            <input type="submit" name="confirm" id="confirm"></input>
        </form>
    </body>
</html>