<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charst="UTF-8">
        <h1>RECMOMENDATIONS:</h1>
        <title>mangadexreccs</title>
    </head>
    <body>
        <a href="https://mangadex.org/title/{{id0}}" target="_blank">{{name0}}</a> <br><br> 
        <a href="https://mangadex.org/title/{{id1}}" target="_blank">{{name1}}</a> <br><br>
        <a href="https://mangadex.org/title/{{id2}}" target="_blank">{{name2}}</a> <br><br>
        <a href="https://mangadex.org/title/{{id3}}" target="_blank">{{name3}}</a> <br><br>
        <a href="https://mangadex.org/title/{{id4}}" target="_blank">{{name4}}</a> <br><br>
        <a href="https://mangadex.org/title/{{id5}}" target="_blank">{{name5}}</a> <br><br>
        <a href="https://mangadex.org/title/{{id6}}" target="_blank">{{name6}}</a> <br><br>
        <a href="https://mangadex.org/title/{{id7}}" target="_blank">{{name7}}</a> <br><br>
        <a href="https://mangadex.org/title/{{id8}}" target="_blank">{{name8}}</a> <br><br>
        <a href="https://mangadex.org/title/{{id9}}" target="_blank">{{name9}}</a> <br><br>
        <!---Thank you chat gpt I dont like writing this shit myself-->
</html>