<!DOCTYPE html>
<html>
    <head> <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/reccsUI.css') }}"> </head>
    <div class="head">
        <div class="r1">
          <h1 style="font-size:50px">Recommendations</h1>
        </div>
        <div class="r1link" >
            <a href="https://mangadex.org/title/{{id0}}" target="_blank">{{name0}}</a> 
        </div>
      </div>

    <div class="subrecs">
        <h3>
        <a href="https://mangadex.org/title/{{id2}}" target="_blank">{{name1}}</a> <br><br> 
        <a href="https://mangadex.org/title/{{id2}}" target="_blank">{{name2}}</a> <br><br> 
        <a href="https://mangadex.org/title/{{id3}}" target="_blank">{{name3}}</a> <br><br> 
        <a href="https://mangadex.org/title/{{id4}}" target="_blank">{{name4}}</a> <br><br> 
        <a href="https://mangadex.org/title/{{id5}}" target="_blank">{{name5}}</a> <br><br> 
        <a href="https://mangadex.org/title/{{id6}}" target="_blank">{{name6}}</a> <br><br> 
        <a href="https://mangadex.org/title/{{id7}}" target="_blank">{{name7}}</a> <br><br> 
        <a href="https://mangadex.org/title/{{id8}}" target="_blank">{{name8}}</a> <br><br> 
        <a href="https://mangadex.org/title/{{id9}}" target="_blank">{{name9}}</a> <br><br> 
        </h3>
    </div>
</html>